* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../../public/background.png');
}

select {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    background: white;
    border-top: 4px solid #1c57a5;
    border-bottom: 4px solid #1c57a5;
    border-radius: 4px;
    max-width: 1000px;
    margin: 40px auto;

    @media (max-width: 1050px) {
        max-width: 95%;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        background: #3A454b;
        margin-top: 20px;
        color: white;

        &>a {
            padding: 10px 40px;
            color: white;
            background: #1c57a5;
        }
    }

    main {
        margin: 20px 0;
        padding: 40px 20px;
    }
}

.form-login {
    padding: 40px;
    border-radius: 5px;
    background: #eee;
    width: 50%;
    margin: 0 auto;

    @media (max-width: 991px) {
        width: 60%;
    }

    @media (max-width: 767px) {
        width: 80%;
    }

    @media (max-width: 575px) {
        width: 100%;
    }
}

.home-filter {
    width: 25%;

    @media (max-width: 991px) {
        width: 30%;
    }

    @media (max-width: 767px) {
        width: 35%;
    }

    @media (max-width: 575px) {
        width: 45%;
    }
}

.ql-editor {
    font-size: 16px;
}

.text-danger.disabled {
    a {
        color: #91a3ad;
    }

    button {
        color: #91a3ad;
        border: none;
    }
}

.login-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 300px;
    }
}