* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../../public/background.png');
}

select {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    background: white;
    border-top: 4px solid #1c57a5;
    border-bottom: 4px solid #1c57a5;
    border-radius: 4px;
    max-width: 1000px;
    margin: 40px auto;

    @media (max-width: 1050px) {
        max-width: 95%;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        background: #3A454b;
        margin-top: 4px;
        color: white;

        &>a {
            padding: 10px 40px;
            color: white;
            background: #1c57a5;
        }
    }

    main {
        margin: 20px 0;
        padding: 40px 20px;
    }
}

.home-filter {
    width: 25%;

    @media (max-width: 991px) {
        width: 30%;
    }

    @media (max-width: 767px) {
        width: 35%;
    }

    @media (max-width: 575px) {
        width: 45%;
    }
}

.ql-editor {
    font-size: 16px;
}

.full-registered {

    a,
    p {
        color: #91a3ad;
    }

    button {
        color: #91a3ad !important;
        border: none;
    }
}

.layout-auth-wrapper {
    display: flex;
    gap: 20px;

    @media (max-width: 991px) {
        flex-direction: column-reverse;
    }

    .auth-wrapper {
        display: flex;
        justify-content: center;
        gap: 30px;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }

        img {
            width: 300px;
        }

        .form-auth {
            padding: 40px;
            border-radius: 5px;
            background: #eee;
            width: 400px;
        }
    }
}

.img-avatar {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

.set-upload-img input[type="file"] {
    display: none;
}

.back-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #4154f1;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;

    i {
        font-size: 24px;
        color: #fff;
        line-height: 0;
    }

    &:hover {
        background: #6776f4;
        color: #fff;
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.conversation-wrapper {
    $conversation-width: 320px;
    position: fixed;
    right: -$conversation-width;
    bottom: 0;
    width: $conversation-width;
    height: 460px;
    z-index: 996;
    transition: all .2s;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    flex-direction: column;

    .conversation-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 20px;

        img {
            width: 32px;
            height: 32px;
            margin-right: 10px;
            object-fit: cover;
        }

        span {
            span {
                font-weight: 600;
                font-size: 15px;
            }

            i {
                cursor: pointer;
            }
        }
    }

    .conversation-body {
        flex: 1;
        overflow-y: auto;
        margin: 20px 0 0 20px;
        padding-right: 20px;
    }

    .conversation-footer {
        padding: 20px;
    }
}